<!DOCTYPE html>
<html lang="en" ng-app="starter">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="img/favicon.png">
 
    <title>Website Responsive Calculator</title>
 
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="css/calculator.css">
    
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.5/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular-sanitize.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/form.js"></script>
    <script>
        window.addEventListener('native.keyboardshow', function(){
          document.body.classList.add('keyboard-open');
        });
    </script>
   
</head>
 
<body ng-controller="MainCtrl">
    
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">Website Responsive Calculator</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <section id="contact" ng-controller="CalculatorCtrl">
        <div class="container">
            <div class="row">
                <div class="calculator col-lg-6">
                    <form name="sentMessage" id="contactForm" novalidate="">
                        <div class="row control-group control-title">
                            <div class="form-group col-xs-12 controls">
                                <label>CLASS NAME</label>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Your Class Name</label>
                                <input type="text" class="form-control" placeholder="Your Class Name" id="className" ng-model="className" ng-change="calc()" required="">
                            </div>
                        </div>
                        <div class="row control-group control-title">
                            <div class="form-group col-xs-12 controls">
                                <label>WIDTH OF CHILD ELEMENT</label>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>0</label>
                                <input type="number" min="0" class="form-control" placeholder="0" id="widthChild" ng-model="widthChild" ng-change="calc()" required="">
                            </div>
                        </div>
                        <div class="row control-group control-title">
                            <div class="form-group col-xs-12 controls">
                                <label>WIDTH OF PARENT ELEMENT</label>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>0</label>
                                <input type="number" min="1" class="form-control" placeholder="1" id="widthParent" ng-model="widthParent" ng-change="calc()" required="">
                            </div>
                        </div>
                        <div class="row control-group control-title">
                            <div class="form-group col-xs-12 controls">
                                <label>RESULT</label>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>0</label>
                                <input type="text" class="form-control" placeholder="0" id="result" value="{{total}}">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="calculator col-right col-lg-5">
                    <figure class="highlight">
                        <p ng-bind-html="cssStyle"></p>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-6">
                        <ul>
                            <li>Help Web designer, Front-end developer calculate the percentage of child element to parent element.</li>
                            <li>Do website responsive: we should calculate the percentage of each element in website ( response to Mobile, Desktop, Tablet) with many screens.</li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-6">
                        <p>Website Responsive Calculator<br> Available in Play Store</p>
                        <p><a href="https://play.google.com/store/apps/details?id=com.mtstudio.lightstar.webresponsivecalculator" target="_blank"><img src="img/google-play.png" alt="Website Responsive Calculator" width="350" ></a></p>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Responsive Design Calculator
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    </body>
</html>